@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-xxs {
        font-size: 0.5rem; /* 12px */
        line-height: 0.75rem; /* 16px */
    }
}

.method-get {
    color: theme('colors.green.500');
}

.method-post {
    color: theme('colors.blue.500');
}

.method-put {
    color: theme('colors.yellow.500');
}

.method-delete {
    color: theme('colors.red.500');
}

.method-patch {
    color: theme('colors.pink.500');
}

.method-options {
    color: theme('colors.fuchsia.500');
}